
.cover-with-image {
	background-repeat : no-repeat;
	background-position : center;
	background-size : cover;
}

.contain-image {
	background-repeat : no-repeat;
	background-position : center;
	background-size : contain;
}