<section id='about'>
	<div class='inner-section'>
	
		<div class='text-group'>
		
			<div class='title'>Long Story Short</div>
			<div class='text'>I&#x2019;m a software developer and massive tech geek from New York City. I&#x2019;m also a rising Junior at Connecticut College, where I major in Interaction Design &#x26; Technological Futurism. I love talking to people who are also passionate about technology and design, so please reach out to me &#x2013; even if it isn&#x2019;t in regards to a project or job opportunity. Whoever you might be, I&#x2019;d love to hear from you.</div>
		
		</div>
		
		<hr>
		
		<div class='text-group'>
			
			<div class='title'>Dev Experience</div>
			<div class='text'>I have over five years of experience coding for the web. I can create almost anything with HTML, CSS and JavaScript. Some of my preferred technologies include SASS, TypeScript, Gulp, Angular (JS &#x26; 2), Ionic (v1 &#x26; Native), Web Components and Firebase. While I work mostly with front-end technologies, I&#x2019;m no stranger to creating back-ends with secure user authentication, social media integration and live data.</div>
			
			<hr>
			
			<div class='text'>I've...</div>
			<ul>
				<li>Developed websites for clients such as <a href='http://bluetreeny.bigcartel.com'>Blue Tree</a> and <a href='http://www.sinusitis-solutions.com'>Sinusitis Solutions</a></li>
				<li>QAd new campaign websites and created design mockups for <a href='http://www.adcouncil.org'>The Ad Council</a></li>
				<li>Worked as a tutor, teaching NYC high school students introductory web development skills</li>
				<li>Designed and coded a proprietary 360° web video player for <a href='https://www.linkedin.com/company/kogeto-llc'>Kogeto</a></li>
			</ul>	
			
			<hr>
			
			<div class='text'>I am...</div>
			<ul>
				<li>currently working at <a href='http://leagueapps.com'>LeagueApps</a> as an intern on the front-end development team</li>
				<li>continuing to freelance as a web developer (<a href='mailto:harrysolovay@gmail.com'>let me know</a> if you need a site)</li>
			</ul>
			
		</div>
		
		<hr>
		
		<div class='text-group'>
		
			<div class='title'>Beyond Work</div>
			<div class='text'>I love to play drums, blast Kanye, work on my novel and create abstract art. I&#x2019;m in a band at my school. We&#x2019;re named &#x201C;Hieronymus Mosh&#x201D; and cover angsty pop punk songs (lots of Fall Out Boy and Paramore). My dog <a href='https://www.facebook.com/lola.solovay'>Lola</a> is an alien. Favorite TV shows include Entourage and Silicon Valley. For most Halloweens I dress up as Hugh Hefner. It&#x2019;s a great excuse to walk around in a bathrobe and to have a cigar. I stream every Apple Keynote live. I once met <a href='http://www.apple.com/pr/bios/jonathan-ive.html'>Jony Ive</a> and was so star-struck that I just said &#x201C;I love everything you&#x2019;ve ever done&#x2026; ever.&#x22;</div>
		
		</div>
	
	</div>
</section>